body {
    background-color: floralwhite;
    margin: 0;
}

.nav {
    background-color: darkgrey;
    width: 200px;
    height: 100%;
    overflow: auto;
    float: left;
    margin: 0;
    position: fixed;
    padding: 0;
    overflow: hidden;
}

.nav li a {
    display: block;
    padding: 10px 10px 10px 10px;
    border-bottom: 1px solid white;
}

.nav a {
    text-decoration: none;
    color: white;
    font-family: cursive;
}

.nav li:hover:not(.active) {
    background-color: black;
}

.nav img {
    margin: 0;
}

.content {
    margin-left: 15%;
    text-align: center;
}

.content #img {
    margin: 0;
}

.content #name {
    margin-left: 4%;
}

.content2 p,h3,h4 {
    margin-left: 20%;
    margin-right: 5%;
}

.content2 h1,img {
    margin-left: 15%;
}

.content2 table,th,td {
    margin-left: 20%;
    margin-right: 5%;
    margin-bottom: 5%;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5 5 5 5;
    font-size: 24px;
}

.active {
    background-color: darkseagreen;
}

h1 {
    padding-top: 25px;
}

.triangleisosceles {
  position:relative;
  padding:15px;
  margin:1em 0 3em;
  color:#000;
  background:linear-gradient(#f3961c, #f9d835);
  border-radius:10px;
}

.triangleisosceles:after {
  content:"";
  position:absolute;
  top:-15px;
  right:auto;
  bottom:auto;
  left:10px;
  border-width:0px 15px 15px;
  border-style:solid;
  border-color:#f3961c transparent;
  display:block;
  width:0;
}

.triangleisosceles2 {
  position:relative;
  padding:15px;
  margin:1em 0 3em;
  color:#000;
  background:linear-gradient(#000099, #0099ff);
  border-radius:10px;
    color: white;
}

.triangleisosceles2:after {
  content:"";
  position:absolute;
  top:-15px;
  right:10px;
  bottom:auto;
  left:auto;
  border-width:0px 15px 15px;
  border-style:solid;
  border-color:#000099 transparent;
  display:block;
  width:0;
}

.previous {
    background-color: darkgrey;
    color: white;
    font-family: cursive;
    margin-bottom: 5%;
}

.next {
    background-color: darkseagreen;
    color: white;
    font-family: cursive;
    margin-bottom: 5%;
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

.next:hover {
    background-color: black;
    color: white;
}

.previous:hover {
    background-color: black;
    color: white;
}

#box {
    background-color: aqua;
    border: 5px solid #0000cc;
    padding: 5 5 5 5;
}

.dropbtn {
    background-color: darkgrey;
    color: white;
    font-size: 16px;
    font-family: cursive;
    border: 0;
    cursor: pointer;
    padding: 0;
}

.dropdown-content a:hover:not(#active) {
    background-color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn a:not(.active) {
    background-color: black;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: grey;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    padding-right: 100%;
    border-bottom: 1px solid white;
    font-size: 14px;
}

.dropdown-content a#active {
    background-color: darkgreen;
}

.dropbtn a {
    padding: 10px 100% 10px 10px;
    border-bottom: 1px solid white;
}