.title {
    color: #ffffff;
    font-size: 3rem;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    margin-bottom: 2rem;
}

.card {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    overflow: hidden;
    height: 200px;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

.iconWrapper {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    font-size: 3rem;
}

.cardTitle {
    color: #333;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    margin-top: 1rem;
  }